.card-about-us-block
{
    

    width:100%;
    
    &-contents
    {
        @include set-display-value-and-direction(flex,row);
        width:100%;

        &__pictures-block
        {
          
            @include set-display-value-and-direction(flex,row);
            position: relative;
            height:$height-card-about-us;
            width:$pictures-block-width;
            .pictures-block__big-picture
            {
    
          
            @include set-width-height( $big-picture-width,$big-picture-height);
            background-image: url("../images/about.jpg");
            background-repeat: no-repeat;
            }
           .pictures-block__small-picture
           {
             position: absolute;
            
           
               @include set-width-height( $small-picture-width,$small-picture-height);
               background-image: url("../images/about-small.jpg");  
            background-repeat: no-repeat;

               border: 10px solid #fff;

               left:$small-picture-left;
               bottom: 0px;

           }
        }
        &__text-block
        {
            // height:$height-card-about-us;
            // width:$text-block-width;
            // background-color: white;
            // @include set-width-height( $text-block-width,$height-card-about-us);
            max-width: $text-block-width;
            // max-height: $height-card-about-us;
            border-color: white; 

            h2
            {
                span
                {
                color:$color-primary;
                }
            }
        }
    }

}

@media screen and (max-width:500px)
{
  .pictures-block__big-picture
  {
      width:23rem !important;
  }
  .pictures-block__small-picture
  {
      left:4rem !important;
  }

}
