.section-title
{
   
    @include set-display-value-and-direction(flex,column);
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    // width:100%;
    // .section-title-image
    // {
    //     margin-bottom: $margin-between-elements;
    // }
    h1
    {
        margin-bottom: $margin-between-elements;
    
    span
    {
        color: $color-primary;
    } 
    }
}