$white-color:white;
$nav-bar_background-color:#f8f9fa;
//colors
$color-primary:#94C13D;
$color-white:white;
$color-graydark1:#222222;
$color-graydark2:#3a3636;
$color-graydark1-opacity:#22222273;


//drop down-list
$padding-top-dropdown:1.1rem;
$top-dropdown-content:68px;
$drop-down-width:15.0rem;
$margin-smallvalue:1.5rem;
$border-rightleft:2.5rem;
$padding-dropdown:1.5rem;
$padding-contents-left:3.0rem;
$padding-smallvalue:1.1rem;

//shadow
$color-shadow:rgb(224, 223, 223);
$bulr-shadow:30px;

//lines
$first-line-width:1.5rem;
$first-line-width-afterhover:6rem;
$second-line-width:3rem;
$margin-between-lines:0.2rem;
$margin-between-components:2rem;
$margin-top-circle-button:6.1rem;


//card-about-us
$height-card-about-us:38rem;
$pictures-block-width:83.3rem;
$big-picture-width: 40.3rem;
$big-picture-height:40rem;
$small-picture-width: 19rem;
$small-picture-height:20.8rem;
$small-picture-left:23.3rem;
$text-block-width:64rem;

//section title
$margin-between-elements:1.5rem;


//progress-bar
$percent-width-height:2.8rem;
$bar-width:18rem;
$bar-height:1rem;

//card-with-progress-bar
$width-card-with-progress-bar:318px;
$height-card-with-progress-bar:69rem;
$height-card-with-progress-bar-image:252px;



//background-image-fixed-attachment-block-element
$margin-icon:1rem;
$font-size-icon:4rem;
$font-size-number:3rem;

//background-image-fixed-attachment-block
$counter-section-height:25rem;
